#bottom {background:#2673ff; width:100%; height:50px;}

#gradient { 
background: #71b5ff; /* Old browsers */
background: -moz-linear-gradient(top, #71b5ff 0%, #acd7ff 10%, #acd7ff 90%, #71b5ff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#71b5ff), color-stop(10%,#acd7ff), color-stop(90%,#acd7ff), color-stop(100%,#71b5ff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #71b5ff 0%,#acd7ff 10%,#acd7ff 90%,#71b5ff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #71b5ff 0%,#acd7ff 10%,#acd7ff 90%,#71b5ff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #71b5ff 0%,#acd7ff 10%,#acd7ff 90%,#71b5ff 100%); /* IE10+ */
background: linear-gradient(top, #71b5ff 0%,#acd7ff 10%,#acd7ff 90%,#71b5ff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#71b5ff', endColorstr='#acd7ff',GradientType=0 ); /* IE6-9 */
width:100%; 
height:auto;
}